<!-- <ion-footer class="footer-shadow">
  <ion-toolbar class="footer">
    <ion-item-group>
      <div routerLink="/clock-in" class="footer-label">
        <ion-img src="../../assets/basic/home.png"></ion-img>
        <ion-label>
          Main
        </ion-label>
      </div>
      <div routerLink="/main" class="footer-label">
        <ion-img class="history" src="../../assets/basic/history.png"></ion-img>
        <ion-label>
          History
        </ion-label>
      </div>
      <div routerLink="/support" class="footer-label">
        <ion-img src="../../assets/basic/support.png"></ion-img>
        <ion-label>
          Support
        </ion-label>
      </div>
      <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer> -->
<ion-footer class="footer-shadow">
  <ion-toolbar class="footer">
    <ion-item-group>
      <div routerLink="/clock-in" class="footer-label">
        <ion-img src="../../assets/basic/home.png"></ion-img>
        <ion-label>
          Main
        </ion-label>
      </div>
      <div routerLink="/main" class="footer-label">
        <ion-img class="history" src="../../assets/basic/history.png"></ion-img>
        <ion-label>
          History
        </ion-label>
      </div>
      <div class="footer-label" routerLink="/report">
        <ion-img src="../../assets/basic/report.png"></ion-img>
        <ion-label>
          Report
        </ion-label>
      </div>
      <div class="footer-label" style="height: 1.5rem;">
        <ion-icon style="margin-bottom: 2px;"></ion-icon>
        <ion-label>
          More
        </ion-label>
      </div>
      <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="more-button">
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <div class="footer-label" routerLink="/inbox-details">
        <ion-img class="inbox-noti" src="../../assets/basic/ellipse-notification.png"
          *ngIf="data.userInfo.notifications.approval.length !=0 || data.userInfo.notifications.updates.length !=0">
        </ion-img>
        <ion-img src="../../assets/basic/bell.png"></ion-img>
        <ion-label>
          Inbox
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label" routerLink="/support">
        <ion-img src="../../assets/basic/support.png" class="main-support"></ion-img>
        <ion-label>
          Support
        </ion-label>
      </div>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<div class="clockin-button">
  <!-- <ion-button shape="round" fill="outline" class="submits" routerLink="/clock-in" onsubmit="submitForm()"
    [disabled]="!mform.value.valid"> -->
    <ion-button shape="round" fill="outline" class="submits" (click)="submitForm()">
    <ion-label>Submit</ion-label>
  </ion-button>
</div>

<ion-content class="contents">
  <ion-img class="bg-img-others" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content">
    <ion-item-group class="header">
      <ion-label>beeWhere</ion-label>
    </ion-item-group>
    
    <ion-card class="main-info">
      <ion-card-content>
        <div>
          <!-- <div *ngIf="data.userInfo.clockIn.status == true"> -->
          <ion-card-title *ngIf="data.userInfo.clockIn.status == true" class="clockout-title">
            Clock out
          </ion-card-title>
          <ion-card-subtitle *ngIf="data.userInfo.clockIn.status == true">
            Don't forget to clock out
          </ion-card-subtitle>
          <ion-card-title *ngIf="data.userInfo.clockIn.status == false" class="clockin-title">
            Clock In
          </ion-card-title>
          <ion-card-subtitle *ngIf="data.userInfo.clockIn.status == false">
            You haven't clock in yet.
          </ion-card-subtitle>
        </div>
        <div class="time-display">
          <ion-title class="time">
            <ion-label class="hour">
              {{curSTime | date: 'hh:mm'}}
            </ion-label>
            <ion-label class="am-pm">
              {{curSTime | date: 'a'}}
            </ion-label>
          </ion-title>
          <ion-title class="day">
            <ion-label>
              {{curSTime | date: 'd MMM yyyy'}}
            </ion-label>
            <ion-label>
              {{curSTime | date: 'EEEE'}}
            </ion-label>
          </ion-title>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="support-body">
      <ion-title>How can we help you today?</ion-title>
      <ion-card>
        <form [formGroup]="mform">
          <ion-card-header>
            <ion-segment formControlName="supportType" (click)="changeSegmentType()">
              <!-- <ion-segment [(ngModel)]="supportType"> -->
              <ion-segment-button value="requestForm">
                <ion-label>Request</ion-label>
              </ion-segment-button>
              <ion-segment-button value="suggestion">
                <ion-label>Suggestion</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-card-header>
          
          <ion-card-content class="support-content">
            <span [ngSwitch]="supportType">
              <p *ngSwitchCase="'suggestion'" formGroupName="suggestionForm">
                <ion-item-group>
                  <div class="error-note">
                    <ion-label>Subject</ion-label>
                    <ion-note *ngIf="!getFormControls('support').title.valid">
                      *required</ion-note>
                  </div>
                  <ion-input type="text" formControlName="title"></ion-input>
                </ion-item-group>
                <ion-item-group>
                  <ion-label>Message</ion-label>
                  <ion-textarea class="message-box" formControlName="description"></ion-textarea>
                </ion-item-group>
              </p>
              <p *ngSwitchDefault formGroupName="requestForm">
                <ion-item-group>
                  <div class="error-note">
                    <ion-label>Request Type</ion-label>
                    <ion-note *ngIf="!getFormControls('request').type.valid">
                      *required</ion-note>
                  </div>
                  <ion-select placeholder="Select" formControlName="type">
                    <ion-select-option value="overtime">Overtime</ion-select-option>
                    <ion-select-option value="clocks">Clock In/Clock Out Request</ion-select-option>
                  </ion-select>
                </ion-item-group>
                <ion-item-group>
                  <div class="error-note">
                    <ion-label>Subject</ion-label>
                    <ion-note *ngIf="!getFormControls('request').title.valid">
                      *required</ion-note>
                  </div>
                  <ion-input type="text" formControlName="title"></ion-input>
                </ion-item-group>
                <ion-item-group [formGroup]="reqDetails">
                  <div>
                    <ion-label>Start time</ion-label>
                    <ion-item lines="none">
                      <input type="datetime-local" pattern="dd-mm-yyyy" formControlName="inTime">
                    </ion-item>
                  </div>
                  <div>
                    <ion-label>End time</ion-label>
                    <ion-item lines="none">
                      <input type="datetime-local" formControlName="outTime">
                    </ion-item>
                  </div>
                </ion-item-group>
                <ion-item-group>
                  <ion-label>Supporting Document</ion-label>
                  <ion-button fill="clear">Add file</ion-button>
                  <ion-text>No file chosen</ion-text>
                  <ion-text>You can upload the following filetypes: .jpg , .jpeg , .png , .pdf</ion-text>
                </ion-item-group>
                <ion-item-group>
                  <ion-label>Description</ion-label>
                  <ion-textarea class="message-box" formControlName="description"></ion-textarea>
                </ion-item-group>
              </p>
            </span>
          </ion-card-content>
        </form>
      </ion-card>
    </div>

  </div>
</ion-content>