<ion-footer class="footer-shadow">
  <ion-toolbar class="footer" color="dark">
    <ion-item-group>
      <div routerLink="/main" class="footer-label">
        <ion-img src="../../assets/basic/home.png"></ion-img>
        <ion-label>
          Main
        </ion-label>
      </div>
      <div routerLink="/inbox-details" class="footer-label">
        <ion-img src="../../assets/basic/bell.png"></ion-img>
        <ion-label>
          Inbox
        </ion-label>
      </div>
      <div routerLink="/support" class="footer-label">
        <ion-img src="../../assets/basic/support.png"></ion-img>
        <ion-label>
          Support
        </ion-label>
      </div>
      <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>

<div class="clockin-button">
  <ion-button shape="round" fill="outline" class="submits" routerLink="/main">
    <ion-label>Save</ion-label>
  </ion-button>
</div>

<ion-content color="dark" class="contents">
  <ion-img class="bg-img" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content">
    <ion-item-group class="header">
      <ion-label>beeWhere</ion-label>
      <!-- <ion-img src="../../assets/basic/logout.png"></ion-img> -->
    </ion-item-group>
    <div>clockout</div>
  </div>
</ion-content>
