<!-- <ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header> -->

<ion-content class="background-image" style="text-align-last: center;">
  <ion-item-group class="grouping">
    <ion-item-group class="text-group">
      <ion-title class="subtitle">Welcome to</ion-title>
      <ion-title class="title">beeWhere</ion-title>
      <ion-text class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna
      aliqua.</ion-text>
    </ion-item-group>
     
    <ion-slides pager="true" class="sliders">
      <ion-slide>
        <!-- <img src="../../assets/basic/centre-image1.png"> -->
        <ion-img src="../../assets/basic/centre-image1.png"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="../../assets/basic/centre-image2.png"></ion-img>
        <!-- <img src="../../assets/basic/centre-image2.png"> -->
      </ion-slide>
    </ion-slides>

    <ion-button fill="clear" class="button" routerLink="/clock-in">
      Start Here
    </ion-button>
  </ion-item-group>

</ion-content>
