<ion-footer class="footer-shadow">
  <ion-toolbar class="footer" color="dark">
    <ion-item-group>
        <div routerLink="/main" class="footer-label">
          <ion-img src="../../assets/basic/home.png"></ion-img>
          <ion-label>
            Main
          </ion-label>
        </div>
        <div routerLink="/inbox-details" class="footer-label">
          <ion-img src="../../assets/basic/bell.png"></ion-img>
          <ion-label>
            Inbox
          </ion-label>
        </div>
        <div routerLink="/support" class="footer-label">
          <ion-img src="../../assets/basic/support.png"></ion-img>
          <ion-label>
            Support
          </ion-label>
        </div>
        <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>

<div class="clockin-button clockin">
  <ion-button shape="round" fill="outline" class="clockin" routerLink="/clock-in">
    <ion-label>Clock In Now</ion-label>
  </ion-button>
</div>
 
<ion-content color="dark" class="contents">
  <ion-img class="bg-img" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content">
    <ion-item-group class="header">
      <ion-label>beeWhere</ion-label>
      <ion-img src="../../assets/basic/logout.png" routerLink="/login"></ion-img>
    </ion-item-group>
    <ion-item-group class="user-header">
      <ion-item-group>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-item-group>
      <ion-item-group>
        <ion-title class="greeting">
          Good Day, {{data.userInfo.username}}!
        </ion-title>
        <ion-title class="company-title ">
          {{data.userInfo.companyName}}
        </ion-title>
      </ion-item-group>
    </ion-item-group>
    
    <!-- notification card -->
    <ion-card class="main-info">
      <ion-card-content>
        <div *ngIf="data.clockIn.status == true;">
          <ion-card-title class="clockin">
            Clock In
          </ion-card-title>
          <ion-card-subtitle>
            You haven't clock in yet.
          </ion-card-subtitle>
        </div>
        <div *ngIf="data.clockIn.status == false;">
          <ion-card-title class="clockout">
            Clock out
          </ion-card-title>
          <ion-card-subtitle>
            Don't forget to clock out.
          </ion-card-subtitle>
        </div>
        <div class="time-display">
          <ion-title class="time">
            <ion-label class="hour">
              {{currDate | date: 'hh:mm'}}
            </ion-label>
            <ion-label class="am-pm">
              {{currDate | date: 'a'}}
            </ion-label>
          </ion-title>
          <ion-title class="day">
            <ion-label>
              {{currDate | date: 'd MMM yyyy'}}
            </ion-label>
            <ion-label>
              {{currDate | date: 'EEEE'}}
            </ion-label>
          </ion-title>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
