<ion-footer class="footer-shadow">
  <ion-toolbar class="footer" color="dark">
    <ion-item-group>
        <div routerLink="/main" class="footer-label">
          <ion-img src="../../assets/basic/home.png"></ion-img>
          <ion-label>
            Main
          </ion-label>
        </div>
        <div routerLink="/inbox-details" class="footer-label">
          <ion-img src="../../assets/basic/bell.png"></ion-img>
          <ion-label>
            Inbox
          </ion-label>
        </div>
        <div routerLink="/support" class="footer-label">
          <ion-img src="../../assets/basic/support.png"></ion-img>
          <ion-label>
            Support
          </ion-label>
        </div>
        <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>

<div class="clockin-button clockin">
  <ion-button shape="round" fill="outline" class="clockin" routerLink="/clock-in">
    <ion-label>Clock In Now</ion-label>
  </ion-button>
</div>
 
<ion-content color="dark" class="contents">
  <ion-img class="bg-img" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content">
    <ion-item-group class="header">
      <ion-label>beeWhere</ion-label>
      <ion-img src="../../assets/basic/logout.png" routerLink="/login"></ion-img>
    </ion-item-group>
    <ion-item-group class="user-header">
      <ion-item-group>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-item-group>
      <ion-item-group>
        <ion-title class="greeting">
          Good Day, {{data.userInfo.username}}!
        </ion-title>
        <ion-title class="company-title ">
          {{data.userInfo.companyName}}
        </ion-title>
      </ion-item-group>
    </ion-item-group>
    
    <!-- notification card -->
    <ion-card class="main-info">
      <ion-card-content>
        <div *ngIf="data.userInfo.clockIn.status == false">
          <ion-card-title class="clockin">
            Clock In
          </ion-card-title>
          <ion-card-subtitle>
            You haven't clock in yet.
          </ion-card-subtitle>
        </div>
        <div *ngIf="data.userInfo.clockIn.status == true">
          <ion-card-title class="clockout">
            Clock out
          </ion-card-title>
          <ion-card-subtitle>
            Don't forget to clock out.
          </ion-card-subtitle>
        </div>
        <div class="time-display">
          <ion-title class="time">
            <ion-label class="hour">
              {{currDate | date: 'hh:mm'}}
            </ion-label>
            <ion-label class="am-pm">
              {{currDate | date: 'a'}}
            </ion-label>
          </ion-title>
          <ion-title class="day">
            <ion-label>
              {{currDate | date: 'd MMM yyyy'}}
            </ion-label>
            <ion-label>
              {{currDate | date: 'EEEE'}}
            </ion-label>
          </ion-title>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-item-group class="notification-info"
      *ngIf="data.userInfo.notifications.info.approval !=0 || data.userInfo.notifications.info.updates !=0">
      <ion-img class="bell-noti" src="../../assets/basic/ellipse-notification.png"></ion-img>
      <ion-img src="../../assets/basic/bell.png"></ion-img>
      <ion-label *ngIf="data.userInfo.notifications.info.approval">{{data.userInfo.notifications.info.approval}} items require
        approval
      </ion-label>
      <ion-label *ngIf="data.userInfo.notifications.info.approval !=0 && data.userInfo.notifications.info.updates !=0">,&nbsp;</ion-label>
      <ion-label *ngIf="data.userInfo.notifications.info.updates !- 0"> {{data.userInfo.notifications.info.updates}} new
        updates</ion-label>
    </ion-item-group>

    <ng-container *ngIf="data.userInfo.clockIn.historicalClockIn.length > 0; else noPrevClockInRecord">
      <ion-item-group class="history-clockin" *ngFor="let histClock of data.userInfo.clockIn.historicalClockIn">
        <ion-title>
          {{histClock.clockInDate | date: 'd MMM yyyy'}}
        </ion-title>
        <ion-card *ngFor="let histList of histClock.list">
          <ion-card-title>
            {{histList.jobType}}
            <ion-card-subtitle>
              <ion-label class="label-client" *ngIf="histList.clientCode !== null">
                {{histList.clientCode}}
              </ion-label>
              <ion-label class="label-project" *ngIf="histList.projectCode !== null">
                {{histList.projectCode}}
              </ion-label>
            </ion-card-subtitle>
          </ion-card-title>
          <ion-card-subtitle class="description-project" *ngIf="histList.projectDesc !== null">
            {{histList.projectDesc}}
          </ion-card-subtitle>
          <ion-card-content class="clockin-content">
            <ion-item-group class="clock-setting">
              <ion-label class="clock-label clk-in">
                Clock In
              </ion-label>
              <ion-list class="clock-list">
                <ion-text>
                  {{histList.clockInTime | date: 'hh:mm a'}}
                </ion-text>
                <ion-text>
                  {{histList.clockInLocation}}
                </ion-text>
              </ion-list>
            </ion-item-group>
            <ion-item-group class="clock-setting" *ngIf="histList.clockOutTime !== null">
              <ion-label class="clock-label clk-out">
                Clock Out
              </ion-label>
              <ion-list class="clock-list">
                <ion-text>
                  {{histList.clockOutTime | date: 'hh:mm a'}}
                </ion-text>
                <ion-text>
                  {{histList.clockOutLocation}}
                </ion-text>
              </ion-list>
            </ion-item-group>

            <ion-item-group class="activities-setting">
              <ion-list *ngFor="let activities of histList.activityList">
                <ion-checkbox mode="ios" [(ngModel)]="activities.status" disabled></ion-checkbox>
                <ion-label>{{activities.activity}}</ion-label>
              </ion-list>
            </ion-item-group>
          </ion-card-content>
        </ion-card>
      </ion-item-group>
    </ng-container>
    <ng-template #noPrevClockInRecord>
      <ion-item-group class="history-clockin">
        <ion-card class="history-clockin-no-record">
          No previous clock in record
        </ion-card>
      </ion-item-group> 
    </ng-template>


  </div>
</ion-content>
