<ion-footer class="footer-shadow">
  <ion-toolbar class="footer">
    <ion-item-group>
      <div routerLink="/clock-in" class="footer-label">
        <ion-img src="../../assets/basic/home.png"></ion-img>
        <ion-label>
          Main
        </ion-label>
      </div>
      <div routerLink="/main" class="footer-label">
        <ion-img class="history" src="../../assets/basic/history.png"></ion-img>
        <ion-label>
          History
        </ion-label>
      </div>
      <div class="footer-label" routerLink="/report">
        <ion-img src="../../assets/basic/report.png"></ion-img>
        <ion-label>
          Report
        </ion-label>
      </div>
      <div class="footer-label" style="height: 1.5rem;">
        <ion-icon style="margin-bottom: 2px;"></ion-icon>
        <ion-label>
          More
        </ion-label>
      </div>
      <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="more-button">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <div class="footer-label" routerLink="/inbox-details">
        <!-- <ion-img class="inbox-noti" src="../../assets/basic/ellipse-notification.png"
          *ngIf="data.userInfo.notifications.approval.length !=0 || data.userInfo.notifications.updates.length !=0">
        </ion-img> -->
        <ion-img src="../../assets/basic/bell.png"></ion-img>
        <ion-label>
          Inbox
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label" routerLink="/support">
        <ion-img src="../../assets/basic/support.png" class="main-support"></ion-img>
        <ion-label>
          Support
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label icon-setting-group" routerLink="/settings">
        <ion-icon name="settings-outline" class="main-support icon-setting"></ion-icon>
        <ion-label>
          Misc
        </ion-label>
      </div>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<!-- <div class="clockin-button">
  <ion-button shape="round" fill="outline" class="submits" routerLink="/main" (click)="saveClockIn()">
    <ion-label>Save</ion-label>
  </ion-button>
</div> -->
<div class="clockin-button clockin" *ngIf="cinGlobalFn.isClockin() === 'false'">
  <ion-button shape="round" fill="outline" class="clockin" (click)="saveClockIn('in')">
    <ion-label>Clock In Now</ion-label>
  </ion-button>
</div>
<div class="clockin-button clockout" *ngIf="cinGlobalFn.isClockin() === 'true'">
  <ion-button shape="round" fill="outline" class="clockout" (click)="saveClockIn('out')">
    <!-- <ion-button shape="round" fill="outline" class="clockout" [routerLink]="['/clock', 'out', 0]"> -->
    <ion-label>Clock Out</ion-label>
  </ion-button>
</div>

<ion-content class="contents">
  <ion-refresher slot="fixed" (ionRefresh)="refreshClockinPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-img class="bg-img" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content-2">
    <ion-item-group class="header main-header">
      <ion-label>beeWhere</ion-label>
      <ion-img src="../../assets/basic/logout.png" (click)="logout()"></ion-img>
    </ion-item-group>
    <ion-item-group class="user-header">
      <ion-item-group>
        <ion-avatar>
            <ng-container
              *ngIf="cinGlobal.userInfo.profilePictureUrl === null ||
              cinGlobal.userInfo.profilePictureUrl.includes('null'); else elseTemplate">
              <img src="../../assets/basic/default-profile-picture.png">
            </ng-container>
            <ng-template #elseTemplate>
              <img 
                src={{cinGlobal.userInfo.profilePictureUrl}}>
            </ng-template>
        </ion-avatar>
      </ion-item-group>
      <ion-item-group>
        <ion-title class="greeting">
          Good Day!
        </ion-title>
        <ion-title class="greeting" class="company-title ">
          {{cinGlobal.userInfo.email}}
        </ion-title>
        <ion-title class="company-title ">
          {{cinGlobal.userInfo.companyName}}
        </ion-title>
      </ion-item-group>
    </ion-item-group>

    <!-- notification card -->
    <ion-card class="main-info">
      <ion-card-content>
        <!-- <div> -->
        <div *ngIf="cinGlobalFn.isClockin() === 'false'">
          <ion-card-title class="clockin-title">
            Clock In
          </ion-card-title>
          <ion-card-subtitle>
            You haven't clock in yet.
          </ion-card-subtitle>
        </div>
        <div *ngIf="cinGlobalFn.isClockin() === 'true'">
          <ion-card-title class="clockout-title">
            Clocked In
          </ion-card-title>
          <ion-card-subtitle>
            Don't forget to clock out.
          </ion-card-subtitle>
        </div>
        <div class="time-display">
          <ion-title class="time">
            <ion-label class="hour">
              {{currTime | date: 'hh:mm'}}
            </ion-label>
            <ion-label class="am-pm">
              {{currTime | date: 'a'}}
            </ion-label>
          </ion-title>
          <ion-title class="day">
            <ion-label>
              {{currTime | date: 'd MMM yyyy'}}
            </ion-label>
            <ion-label>
              {{currTime | date: 'EEEE'}}
            </ion-label>
          </ion-title>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- notifications approval -->
    <!-- <ion-item-group class="notification-info" routerLink="/inbox-details"
      *ngIf="data.userInfo.notifications.approval.length !=0 || data.userInfo.notifications.updates.length !=0">
      <ion-img class="bell-noti" src="../../assets/basic/ellipse-notification.png"></ion-img>
      <ion-img src="../../assets/basic/bell.png"></ion-img>
      <ion-label *ngIf="data.userInfo.notifications.approval.length">{{data.userInfo.notifications.approval.length}} items
        require
        approval
      </ion-label>
      <ion-label *ngIf="data.userInfo.notifications.approval.length !=0 && data.userInfo.notifications.updates.length !=0">
        ,&nbsp;</ion-label>
      <ion-label *ngIf="data.userInfo.notifications.updates.length !- 0"> {{data.userInfo.notifications.updates.length}} new
        updates</ion-label>
    </ion-item-group> -->

    <ion-item-group class="current-clockin">
      <form [formGroup]="clocksForm">
        <!-- <ion-title>
          {{currTime | date: 'd MMM yyyy'}}
        </ion-title> -->

        <!-- clock in card -->
        <ion-card *ngIf="cinGlobalFn.isClockin() === 'false'">
          <div *ngIf="jobList.length === 0" class="no-record">Your attendance profile is not configured yet. Please contact admin or HR</div>
          <div *ngIf="jobList.length > 0">
            <ion-card-title>
              Job Types
            </ion-card-title>
            <ion-card-subtitle>

              <!-- job title list -->
              <ion-segment formControlName="jobtype">
                <ng-container *ngFor="let job of jobList">
                  <ion-segment-button *ngIf="job.value" value={{job.type}}  (click)="chg(job)">
                    <ion-label>{{job.type}}</ion-label>
                  </ion-segment-button>
                </ng-container>
              </ion-segment>
            </ion-card-subtitle>

            <ion-card-content class="clockin-details">
              <ng-container *ngFor="let jobDtl of jobList">
                <span [ngSwitch]="jobDtl.type">
                  <p *ngSwitchCase="clocksForm.get('jobtype').value">
                    <!-- getting current latitude/longitude position -->
                    <ion-item-group>
                    <!-- <ion-item-group *ngIf="jobDtl.geofence_filter"> -->
                      <ion-img src="../../assets/basic/location.png"></ion-img>
                      <ion-label
                        *ngIf="locWatch.lat !== null || locWatch.long 
                        !== null">
                        <ng-container *ngIf="locWatch.name !== null; else showlatlong">
                          {{locWatch.name}}
                        </ng-container>
                        <ng-template #showlatlong>
                          {{locWatch.lat}},&nbsp;{{locWatch.long}}
                        </ng-template>
                      </ion-label>
                      <ion-label *ngIf="(locWatch.lat === null || locWatch.long === null) && geoLocError == ''">
                        Getting current location..</ion-label>
                      <ion-label *ngIf="geoLocError !== ''" class="error-location">
                        {{geoLocError}}
                      </ion-label>
                    </ion-item-group>

                    <!-- getting client list -->
                    <ion-item-group class="clients" *ngIf="jobDtl.client_list">
                      <ion-title>Client Selection</ion-title>
                      <ion-select ok-text="OK" cancel-text="Dismiss" [(ngModel)]="selectedClient" [ngModelOptions]=" {standalone: true}" 
                        placeholder="Select" (click)="getClientList(jobDtl.geofence_filter)">
                        <ion-select-option selected [value]="clientNone">None</ion-select-option>
                        <ion-select-option *ngFor="let selectedClient of globalData.clients" [value]="selectedClient">
                          {{selectedClient.ABBR}} - {{selectedClient.NAME}}
                        </ion-select-option>
                        <ion-select-option *ngIf="globalData.clients.length === 0" disabled class="hide-checkbox">
                          <div>
                            NOTE: Couldn't find any matched client location from your location.
                          </div>
                          <div *ngIf="selectedJobType.autoclockout_filter.value" >
                            Auto-clockout function will be based on your clockin location at the moment.
                          </div>
                        </ion-select-option>
                        <ion-select-option *ngIf="globalData.clients.length === 0" disabled class="hide-checkbox">
                          <div>Please contact Admin or HR to add client's location</div>
                        </ion-select-option>
                      </ion-select>
                      <ion-note  *ngIf="jobDtl.geofence_filter" class="note-info">
                        *Your client list is being filtered by your current location</ion-note>
                    </ion-item-group>

                    <!-- getting project list -->
                    <ion-item-group class="clients" *ngIf="jobDtl.project_selection">
                      <ion-title>Project Selection</ion-title>
                      <ion-select ok-text="OK" cancel-text="Dismiss" [(ngModel)]="selectedProject"
                        [ngModelOptions]=" {standalone: true}" placeholder="Select" (click)="getProjectContractList('project')">
                        <ion-select-option selected [value]="projectNone">None</ion-select-option>
                        <ng-container *ngFor="let project of globalData.projects">
                          <ion-select-option [value]="project">
                            {{project.SOC_NO}} - {{project.NAME}}
                          </ion-select-option>                      
                        </ng-container>
                        <ion-select-option *ngIf="globalData.projects.length === 0" disabled class="hide-checkbox">
                          <div>
                            NOTE: Couldn't find any project. Please contact Admin or HR to add new project
                          </div>
                        </ion-select-option>    
                      </ion-select>
                    </ion-item-group>

                    <!-- getting contract list -->
                    <ion-item-group class="clients" *ngIf="jobDtl.contract_selection">
                      <ion-title>Contract Selection</ion-title>
                      <ion-select ok-text="OK" cancel-text="Dismiss" [(ngModel)]="selectedContract"
                        [ngModelOptions]=" {standalone: true}"
                        placeholder="Select"
                        (click)="getProjectContractList('contract')">
                        <ion-select-option selected [value]="contractNone">None</ion-select-option>
                        <ng-container *ngFor="let contract of globalData.contracts">
                          <ion-select-option [value]="contract">
                            {{contract.CONTRACT_NO}} - {{contract.NAME}}
                          </ion-select-option>     
                        </ng-container>
                        <ion-select-option *ngIf="globalData.contracts.length === 0" disabled class="hide-checkbox">
                          <div>
                            NOTE: Couldn't find any contract. Please contact Admin or HR to add new contract
                          </div>
                        </ion-select-option>
                      </ion-select>
                    </ion-item-group>

                    <!-- activity list -->
                    <ion-item-group class="activity-list" *ngIf="jobDtl.activity_list">
                      <ion-title>Activity List</ion-title>
                      <ion-list>
                        <ion-item-sliding *ngFor="let list of checkAddNew; let i = index;">
                          <ion-item lines="none">
                            <ion-checkbox slot="start" mode="ios" [(ngModel)]="list.statusFlag"
                              [ngModelOptions]="{standalone: true}"></ion-checkbox>
                            <ion-input type="text" placeholder="Add task here and press Enter"
                              [(ngModel)]="list.name"
                              [ngModelOptions]="{standalone: true}" inputmode="text" type="text" enterkeyhint="done">
                            </ion-input>
                          </ion-item>
                          <ion-item-options side="end">
                            <ion-item-option (click)="onDeleteTask(list, checkAddNew, i)">
                              <ion-img src="../../assets/basic/trash-can.png"></ion-img>
                            </ion-item-option>
                          </ion-item-options>
                        </ion-item-sliding>
                        <ion-item-sliding>
                          <ion-item lines="none">
                            <ion-checkbox slot="start" mode="ios" disabled></ion-checkbox>
                            <ion-input type="text" placeholder="Add task here and press Enter    " [(ngModel)]="newTask"
                              [ngModelOptions]="{standalone: true}" (keyup.enter)="addNewTask($event)" inputmode="text"
                              type="text" enterkeyhint="done">
                            </ion-input>
                          </ion-item>
                        </ion-item-sliding>
                      </ion-list>
                    </ion-item-group>
                  </p>
                </span>
              </ng-container>
            </ion-card-content>
          </div>
        </ion-card>

        <!-- clock out card -->
        <ion-card *ngIf="cinGlobalFn.isClockin() === 'true'">
          <ion-card-title>
            {{clocksForm.get('jobtype').value}}
            <ion-card-subtitle>
              <ion-label class="label-client" *ngIf="clockedInInfo.clientId !== 'none'">
                {{clockedInInfo.client.ABBR}}
              </ion-label>
              <ion-label class="label-project" *ngIf="clockedInInfo.projectId !== 'none'">
                {{clockedInInfo.project.SOC_NO}}
              </ion-label>
              <ion-label class="label-contract" *ngIf="clockedInInfo.contractId !== 'none'">
                {{clockedInInfo.contract.CONTRACT_NO}}
              </ion-label>
              <!-- <ion-label class="label-client" *ngIf="selectedClient.ABBR !== null">
                {{selectedClient.ABBR}}
              </ion-label> -->
              <!-- <ion-label class="label-project" *ngIf="selectedProject.SOC_NO !== null">
                {{selectedProject.SOC_NO}}
              </ion-label> -->
              <!-- <ion-label class="label-contract" *ngIf="selectedContract.CONTRACT_NO !== null">
                {{selectedContract.CONTRACT_NO}}
              </ion-label> -->
            </ion-card-subtitle>
          </ion-card-title>
          <ion-card-subtitle class="description-project"
            *ngIf="selectedProject.DESCRIPTION !== null">
            {{selectedProject.DESCRIPTION }}
          </ion-card-subtitle>
          <ion-card-content class="clockin-details">
            <ion-item-group class="clocked-in">
              <ion-img src="../../assets/basic/location.png"></ion-img>
              <ion-label *ngIf="locWatch.lat !== null || locWatch.long 
                        !== null">
                <ng-container *ngIf="locWatch.name !== null; else showlatlong">
                  {{locWatch.name}}
                </ng-container>
                <ng-template #showlatlong>
                  {{locWatch.lat}},&nbsp;{{locWatch.long}}
                </ng-template>
              </ion-label>
              <ion-label
                *ngIf="(locWatch.lat === null || locWatch.long === null) && geoLocError == ''">
                Getting current location..</ion-label>
              <ion-label *ngIf="geoLocError !== ''" class="error-location">
                {{geoLocError}}
              </ion-label>
              </ion-item-group>
              <!-- activity list -->
              <ion-item-group class="activity-list">
                <ion-title>Activity List</ion-title>
                <ion-list>
                  <ion-item-sliding *ngFor="let list of clockedInInfo.activities; let i = index;">
                  <!-- <ion-item-sliding *ngFor="let list of checkAddNew; let i = index;"> -->
                    <ion-item lines="none">
                      <ion-checkbox slot="start" mode="ios" [(ngModel)]="list.statusFlag"
                        [ngModelOptions]="{standalone: true}"></ion-checkbox>
                      <ion-input type="text" placeholder="Add task here and press Enter    " [(ngModel)]="list.name"
                        [ngModelOptions]="{standalone: true}"
                        inputmode="text" type="text" enterkeyhint="done"></ion-input>
                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option (click)="onDeleteTask(list, clockedInInfo.activities, i)">
                        <ion-img src="../../assets/basic/trash-can.png"></ion-img>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                  <ion-item-sliding>
                    <ion-item lines="none">
                      <ion-checkbox slot="start" mode="ios" disabled></ion-checkbox>
                      <ion-input type="text" placeholder="Add task here and press Enter    " [(ngModel)]="newTask" [ngModelOptions]="{standalone: true}"
                        (keyup.enter)="addNewTask($event)" inputmode="text" type="text" enterkeyhint="done">
                      </ion-input>
                    </ion-item>
                  </ion-item-sliding>
                </ion-list>
              </ion-item-group>
          </ion-card-content>
        </ion-card>
      </form>
    </ion-item-group>
  </div>
</ion-content>
