:host {

    .user-header {
        color: #ffffff;
        display: flex;
        padding: 0 5%;
        margin-bottom: 7%;
        ion-item-group {
            align-self: center;
            ion-avatar {
                background-color: white;
                padding: 3px;
                width: 64.34px;
            }
        }
        .greeting {
            font-size: var(--ion-text-16);
            line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
        }
        
        .company-title {
            display: flex;
            // font-size: 12px;
            font-size: var(--ion-text-12);
        }
    }
    
    .main-info {
        margin: 0 2%;
        // margin: 0px;
        background: #ffff;
        background-color: white;
        box-shadow: 0 3px 10px #50505029;

        ion-card-content {
            ion-card-title {
                font-size: var(--ion-text-15);
                font-weight: bold;
                padding: 0;
                margin-bottom: 3px;
            }

            ion-card-subtitle {
                font-size: var(--ion-text-12);
                color: var(--ion-color-text);
            }
        }
    }

    .time-display {
        display: flex;
        flex-flow: row;
        color: var(--ion-color-text);

        .time {
            padding: 0;
            font-weight: bold;
            flex: 2.5;
            max-height: fit-content;

            .hour {
                font-size: var(--ion-text-44);
                max-height: fit-content;
            }

            .am-pm {
                font-size: var(--ion-text-13);
                max-height: fit-content;
            }
        }

        .day {
            padding: 0;
            display: flex;
            flex-direction: column;
            font-size: var(--ion-text-14);
            font-weight: 500;
            padding-top: 10px;
            max-height: fit-content;

            ion-label {
                display: flex;
            }
        }
    }

    .notification-info {
        padding: 0 3%;
        display: flex;
        align-items: center;
        flex-flow: nowrap row;
        margin: 1em 0;

        ion-img {
            width: var(--ion-text-24);
            height: var(--ion-text-24);
            margin-right: 0.5em;
        }

        ion-label {
            font-size: var(--ion-text-11);
            color: var(--ion-color-text);
            opacity: 80%;
        }

        .bell-noti {
            position: absolute;
            width: 7px;
            height: 7px;
            margin-left: 15px;
            margin-top: -7px;
        }
    }

    .current-clockin {
        // margin-top: 1.2em;
        ion-title {
            color: var(--ion-color-text);
            font-size: var(--ion-text-15);
            font-weight: bold;
            opacity: 100%;
            padding: 0;
        }

        ion-card {
            background: var(--ion-color-primary-contrast);
            box-shadow: 0 3px 10px #50505029;
            margin: 0;//1.2em 0;

            ion-card-title {
                margin: 0.75em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: var(--ion-text-15);
                color: var(--ion-color-text-header);
                font-weight: bold;
                text-transform: capitalize;

                ion-card-subtitle {
                    display: flex;
                    flex-flow: row nowrap;

                    ion-label {
                        --color: var(--ion-color-primary-contrast);
                        padding: 0.2em 0.7em;
                        min-width: var(--ion-text-58);
                        height: var(--ion-text-23);
                        font-size: var(--ion-text-12);
                        text-align: center;
                        border-radius: var(--ion-text-3);
                        display: none;
                        place-items: center;
                        justify-content: center;
                        font-weight: bold;
                    }

                    .label-client {
                        background: var(--ion-color-text-header);
                        margin: 0 0.075em;
                        display: flex;

                    }

                    .label-project {
                        background: var(--ion-color-red);
                        display: flex;
                        margin: 0 0.075em;

                    }

                    .label-contract {
                        background: var(--ion-color-pink-f8409c);
                        display: flex;
                        margin: 0 0.075em;
                    }
                }
            }

            ion-segment {
                padding-left: 0.5em;
                padding-right: 0.5em;

                ion-segment-button {
                    text-transform: capitalize;
                    flex: 1;
                    --color: var(--ion-color-text-header);
                    font-size: var(--ion-text-12);
                    opacity: 80%;
                    min-width: 1em;
                    --background-checked: var(--ion-color-text-header);
                    --color-checked: #ffffff;
                    --border-radius: 0.5em;
                    border-radius: 0.5em;
                    align-items: center;
                    margin: 0.2em;
                    min-height: var(--ion-text-36);
                    --indicator-height: 0px;
                    --border-width: 1px;
                    --border-style: solid;

                    ion-label {
                        margin: 0;
                    }
                }
            }
        }
    }

    .clockin-details {
        ion-item-group {
            display: flex;
            margin-bottom: 0.75em;
            ion-img {
                min-width: var(--ion-text-20);
                width: var(--ion-text-20);
                height: var(--ion-text-20);
                opacity: 80%;
                margin-right: 0.5em;
            }

            ion-label {
                font-size: var(--ion-text-12);
                align-self: center;
                --color: var(--ion-color-text);
            }

            ion-title {
                font-size: var(--ion-text-13);
                color: var(--ion-color-grey-808495);
                margin-bottom: 0.5em;
            }

            ion-list {
                background: #fff;
                border: 1px solid #50505029;
                border-radius: 7px;
                padding: var(--ion-text-14);

                ion-item-sliding {
                    height: var(--ion-text-33);
                    display: flex;
                    align-items: center;
                    ion-item {
                        --background: var(--ion-color-white);
                        --color: var(--ion-color-text-tasklist);
                        align-items: center;
                        font-size: var(--ion-text-11);
                        opacity: 80%;
                        width: -webkit-fill-available;

                        ion-checkbox {
                            width: var(--ion-text-20);
                            height: var(--ion-text-20);
                            --background: var(--ion-color-text-header);
                            --background-checked: var(--ion-color-text-header);
                            --border-color-checked: transparent;
                            --checkmark-width: 0.175em;
                            margin-right: 1em;
                            margin-top: 0;
                            margin-bottom: 0;
                            left: -10px;

                            textarea {
                                padding: 0;
                            }
                        }
                    }

                    ion-item-option {
                        --background: var(--ion-color-white);
                        --color: var(--ion-color-danger);
                    }
                }

                ion-button {
                    width: -webkit-fill-available;
                    --color: var(--ion-color-text-header);
                    opacity: 80%;
                    --border-color: var(--ion-color-text-header);
                    margin-bottom: 1em;
                    --border-width: 1px;
                }

                div {
                    display: flex;
                    align-items: center;

                    ion-checkbox {
                        width: var(--ion-text-20);
                        height: var(--ion-text-20);
                        --background: var(--ion-color-text-header);
                        --background-checked: var(--ion-color-text-header);
                        --border-color-checked: transparent;
                        --checkmark-width: 0.175em;
                    }

                    ion-input{
                        opacity: 80%;
                        color: var(--ion-color-text-tasklist);
                        margin: 0 0.5em;
                    }

                    ion-textarea {
                        opacity: 80%;
                        color: var(--ion-color-text-tasklist);
                    }
                }
            }
        }
    }

    .activity-list {
        flex-flow: column;
    }

    .clients {
        flex-flow: column;
        ion-select {
            border: 1px solid #50505029;
            border-radius: 7px;
            padding: 0.5em 0.75em;
            height: var(--ion-text-40);
            font-size: var(--ion-text-13);
            opacity: 80%;
            color: var(--ion-color-text);
        }
        mat-select {
            border: 1px solid #50505029;
            height: var(--ion-text-40);
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 1em;
            font-size: var(--ion-text-13);
            opacity: 80%;
            color: var(--ion-color-text);
            border-radius: 6px;
            ::ng-deep .mat-select-arrow-wrapper {
                color: #43425D;
            }
        }
    }

    .empty-task {
        text-decoration: underline;
    }

    .exist-task {
        text-decoration: none;
    }

    .description-project {
        font-size: var(--ion-text-11);
        font-style: italic;
        margin: 0.5em 1em;
        color: var(--ion-color-text);
        opacity: 80%;
    }

}