:host {
    .main-info {
        margin: 0px; // 22px;
        background: #ffff;
        background-color: white;
        box-shadow: 0 3px 10px #50505029;

        ion-card-content {
            ion-card-title {
                // font-size: 15px;
                font-size: var(--ion-text-15);
                font-weight: bold;
                padding: 0;
                margin-bottom: 3px;
            }

            ion-card-subtitle {
                // font-size: 12px;
                font-size: var(--ion-text-12);
                color: var(--ion-color-text);
            }
            
            .clockin {
                color: var(--ion-color-clockin);
            }

            .clockout {
                color: var(--ion-color-clockout);
            }
        }
    }

    .time-display {
        display: flex;
        flex-flow: row;
        color: var(--ion-color-text);

        .time {
            padding: 0;
            font-weight: bold;
            flex: 2.5;
            max-height: fit-content;

            .hour {
                // font-size: 220%;
                font-size: var(--ion-text-44);
                max-height: fit-content;
            }

            .am-pm {
                // font-size: 75%;
                font-size: var(--ion-text-13);
                max-height: fit-content;
            }
        }

        .day {
            padding: 0;
            display: flex;
            flex-direction: column;
            // font-size: 87.5%;
            font-size: var(--ion-text-14);
            font-weight: 500;
            padding-top: 10px;
            max-height: fit-content;

            ion-label {
                display: flex;
            }
        }
    }

    .inbox-body {
        margin-top: 1.5em;

        ion-title {
            font-size: var(--ion-text-15);
            color: var(--ion-color-text);
            font-weight: bold;
            padding: 0;
        }

        ion-card {
            border-radius: 0.5em;
            box-shadow: 0 3px 10px #50505029;
            margin: 1em 0;
            padding: 1.5em 0;

            ion-card-content {
                display: flex;
                // padding: 1.5em;
                padding: 0.7em 1.5em;

                ion-img {
                    height: var(--ion-text-24);
                    width: var(--ion-text-24);
                }

                ion-card-subtitle {
                    color: var(--ion-color-text-tasklist);
                    opacity: 80%;
                    font-size: var(--ion-text-11);
                    margin-bottom: 0.3em;
                }

                ion-label,
                p {
                    color: var(--ion-color-text);
                    opacity: 80%;
                    font-size: var(--ion-text-10);
                    margin: 0;
                }
            }
        }
    }

    .card-content {
        flex: 1;
        margin-right: 1.5em;
        margin-left: 1em;
        border-bottom: 1px solid #70707038;
        padding-bottom: 0.75em;
    }

    .time-label {
        display: flex;
        align-items: center;
    }


    .approved {
        // display: flex;
        // text-align: right;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        margin-bottom: 1em;
        ion-note {
            // color: var(--ion-color-2ecc71);
            font-size: var(--ion-text-11);
            font-weight: bold;
            background: var(--ion-color-2ecc71);
            color: white;
            padding: 0.4em 0.5em;
            border-radius: 4px;
        }
    }

    .rejected {
        // display: flex;
        // text-align: right;
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        margin-bottom: 1em;
        ion-note {
            // color: var(--ion-color-red);
            font-size: var(--ion-text-11);
            font-weight: bold;
            background: var(--ion-color-red);
            color: white;
            padding: 0.4em 0.5em;
            border-radius: 4px;
        }
    }

    .pending {
        // float: right;
        display: flex;
        place-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        margin-bottom: 1em;
        ion-note {
            // color: var(--ion-color-text-header);
            font-size: var(--ion-text-11);
            font-weight: bold;
            background: var(--ion-color-text-header);
            color: white;
            padding: 0.4em 0.5em;
            border-radius: 4px;
            text-align: center;
            white-space: nowrap;
        }
        
        ion-label {
            white-space: pre-wrap;
        }
    }

    .expanded-view {
        font-size: var(--ion-text-11);
        ion-label {
            font-weight: bold;
            padding-top: 0.8em;
        }

        .na {
            font-style: italic;
        }

        div {
            text-align: center;

            ion-button {
                width: 50%;
                min-width: 130px;
                background: var(--ion-color-text-header);
                color: var(--ion-color-white);
                opacity: 80%;
                --border-color: var(--ion-color-text-header);
                margin: 1em;
                --border-width: 1px;
                border-radius: 7px;
                text-transform: capitalize;
                font-size: var(--ion-text-11);
            }
        }
    }

    .convo {
        margin: 0.5em 0;
        ion-avatar {
            width: fit-content;
            height: fit-content;
        }
    }

    .chat-list {
        width: -webkit-fill-available;
        text-align: left !important;
        padding-left: 0.5em;

        ion-label {
            padding-top: 0;
            text-transform: capitalize;
        }

        ion-note {
            display: flex;
        }

        .admin-chat {
            font-size: var(--ion-text-11);
            border: 1px solid #9494942e;
            border-radius: 7px;
            padding: var(--ion-text-14);
            margin-right: 1em;
            flex-flow: column;
            align-items: start;
        }
        .user-chat {
            font-size: var(--ion-text-11);
            border: 1px solid #9494942e;
            border-radius: 7px;
            padding: var(--ion-text-14);
            margin-left: 1em;
            float: right;
            // flex-flow: column;
            // align-items: start;
        }

        .time {
            font-size: var(--ion-text-10) !important;
        }

        .user-time {
            font-size: var(--ion-text-10) !important;
            float: right;
        }
    }

    .convo-body {
        display: flex;
    }

    .file-list {
        color: blue;
    }

}