<ion-footer class="footer-shadow">
  <ion-toolbar class="footer">
    <ion-item-group>
      <div routerLink="/main" class="footer-label">
        <ion-img src="../../assets/basic/home.png"></ion-img>
        <ion-label>
          Main
        </ion-label>
      </div>
      <div routerLink="/inbox-details" class="footer-label">
        <ion-img class="inbox-noti" src="../../assets/basic/ellipse-notification.png"></ion-img>
        <ion-img src="../../assets/basic/bell.png"></ion-img>
        <ion-label>
          Inbox
        </ion-label>
      </div>
      <div routerLink="/support" class="footer-label">
        <ion-img src="../../assets/basic/support.png"></ion-img>
        <ion-label>
          Support
        </ion-label>
      </div>
      <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>

<div class="clockin-button clockin" *ngIf="!this.data.userInfo.clockIn.status">
  <ion-button shape="round" fill="outline" class="clockin" routerLink="/clock-in">
    <ion-label>Clock In Now</ion-label>
  </ion-button>
</div>
<div class="clockin-button clockout" *ngIf="this.data.userInfo.clockIn.status">
  <ion-button shape="round" fill="outline" class="clockout" routerLink="/clock/out/0">
    <ion-label>Clock Out</ion-label>
  </ion-button>
</div>

<ion-content class="contents">
  <ion-img class="bg-img-others" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content">
    <ion-item-group class="header">
      <ion-label>beeWhere</ion-label>
    </ion-item-group>

    <ion-card class="main-info">
      <ion-card-content>
        <div>
          <!-- <div *ngIf="data.userInfo.clockIn.status == true"> -->
          <ion-card-title *ngIf="data.userInfo.clockIn.status == true" class="clockout">
            Clock out
          </ion-card-title>
          <ion-card-subtitle *ngIf="data.userInfo.clockIn.status == true">
            Don't forget to clock out
          </ion-card-subtitle>
          <ion-card-title *ngIf="data.userInfo.clockIn.status == false" class="clockin">
            Clock In
          </ion-card-title>
          <ion-card-subtitle *ngIf="data.userInfo.clockIn.status == false">
            You haven't clock in yet.
          </ion-card-subtitle>
        </div>
        <div class="time-display">
          <ion-title class="time">
            <ion-label class="hour">
              {{curTime | date: 'hh:mm'}}
            </ion-label>
            <ion-label class="am-pm">
              {{curTime | date: 'a'}}
            </ion-label>
          </ion-title>
          <ion-title class="day">
            <ion-label>
              {{curTime | date: 'd MMM yyyy'}}
            </ion-label>
            <ion-label>
              {{curTime | date: 'EEEE'}}
            </ion-label>
          </ion-title>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-item-group class="inbox-body">
      <ion-title>Approval Required</ion-title>
      <ion-card>
        <ion-card-content>
          <div>
            <ion-img src="../../assets/basic/bell-red.png"></ion-img>
          </div>
          <div class="card-content">
            <ion-card-subtitle>This important task need you to approve</ion-card-subtitle>
            <ion-label>Added 1 hours ago</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item-group>

    <ion-item-group class="inbox-body">
      <ion-title>New Upates</ion-title>
      <ion-card>
        <ion-card-content>
          <div>
            <ion-img src="../../assets/basic/bell.png"></ion-img>
          </div>
          <div class="card-content">
            <ion-card-subtitle>This important task need you to approve</ion-card-subtitle>
            <ion-label>Added 1 hours ago</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </div>
</ion-content>