/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// global background style
.background-image {
    --background: url(./assets/basic/background.png) center;
}

.background-image-default {
    --background: url(./assets/basic/background-default.png) center;
    // z-index: 1;
}

.footer-shadow {
    box-shadow: 1px -2px 6px 0px #50505029;
}

.footer {
    padding: 10px;

    ion-item-group {
        display: flex;

        div {
            flex: 1;
            text-align: -webkit-center;

            ion-img,
            ion-icon {
                width: 1.5rem;
                height: 1.5rem;
                margin-bottom: 5px;
            }

            // ion-label {
            //     font-size: var(--ion-text);
            //     opacity: 80%;
            //     --color: var(--ion-color-text-header);
            //     color: var(--ion-color-text-header);
            // }
        }
    }
}

.footer-label {
    font-size: var(--ion-text-11);
    opacity: 80%;
    --color: var(--ion-color-text-header);
    color: var(--ion-color-text-header);

    .inbox-noti {
        position: absolute;
        width: 7px;
        height: 7px;
        // margin-left: 10.2%;
        margin-top: 0.4%;
        margin-left: 44.2%;
    }
}

.history {
    transform: scaleX(-1);
}

.clockin-button {
    display: flex;
    position: fixed;
    z-index: inherit;
    align-self: flex-end;
    // height: -webkit-fill-available;
    align-items: flex-end;
    bottom: 9px;
    right: 20px;

    ion-button {
        text-transform: capitalize;
        // height: 99.73px;
        // width: 99.73px;
        // --border-radius: 57px;
        // border-radius: 57px;
        width: calc(99.73px + (199.46 - 99.73) * ((100vw - 300px) / (1600 - 300)));
        height: calc(99.73px + (199.46 - 99.73) * ((100vw - 300px) / (1600 - 300)));
        --border-radius: calc(57px + (144 - 57) * ((100vw - 300px) / (1600 - 300)));
        border-radius: calc(57px + (144 - 57) * ((100vw - 300px) / (1600 - 300)));
        box-shadow: 0 3px 6px #50505029;
        --border-width: 4px;
        --border-color: #FFFFFF;
        // --background: var(--ion-color-clockin);
        ion-label {
            font-size: var(--ion-text-13); //13px;
            white-space: pre-line;
            opacity: 100%;
            color: #FFFFFF;
            min-width: 62px;
            font-weight: 600;
        }
    }
}

.submits {
    --background: var(--ion-color-submit);
}

.clockin {
    --background: var(--ion-color-clockin);
}

.clockout {
    --background: var(--ion-color-clockout);
}
.clockin-title {
    color: var(--ion-color-clockin);
}

.clockout-title {
    color: var(--ion-color-red);
}


.error-note {
    display: flex;
    align-items: center;
    ion-note {
        margin-left: 0.5em;
        font-size: var(--ion-text-10);
        color: var(--ion-color-red);
    }

}

.contents {
    .bg-img {
        position: absolute;
        bottom: 62%;
        width: 250%;
        left: -75%;
        display: flex;
        // width: calc(100%*2);
        // left: -50%;
        // bottom: 60%;
    }

    .bg-img-others {
        position: absolute;
        bottom: 85%;
        width: 250%;
        left: -75%;
        display: flex;
    }

    .content {
        position: absolute;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        // padding: 12% 7% 0% 7%;
        padding: 5% 2%;// 5% 5% 0% 5%;

        .header {
            display: flex;
            place-content: space-between;
            margin-bottom: 5%;
            // margin: 45px 22px 22px;
            // font-size: var(--ion-text-23);
            font-size: var(--ion-text-13);
            color: var(--ion-color-white);
            font-weight: normal;

            ion-img {
                width: 1em;// 23px;
            }
        }

        .main-header {
            font-size: var(--ion-text-23);
        }
    }

    .content-2 {
        position: absolute;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        padding: 5% 0% 5%;

        .header {
            display: flex;
            place-content: space-between;
            margin-bottom: 5%;
            // margin: 45px 22px 22px;
            // font-size: var(--ion-text-23);
            font-size: var(--ion-text-13);
            color: var(--ion-color-white);
            font-weight: normal;

            ion-img {
                width: 1em; // 23px;
            }
        }

        .main-header {
            font-size: var(--ion-text-23);
            padding: 0 5%;
        }
    }
}

.no-record {
    min-height: 8em;
    font-size: var(--ion-text-11);
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    opacity: 80%;
    width: -webkit-fill-available;
}

.error-text {
    color: var(--ion-color-red);
}


:root {
    ion-alert {
        --background: var(--ion-color-white);
        font-size: var(--ion-text-11);

        .alert-head {
            padding-top: 0;
        }

        .alert-radio-group {
            border: none;
        }
        .alert-wrapper.sc-ion-alert-md {
            width: -webkit-fill-available;
        }

        .sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md,
        .alert-radio-icon {
            border-color: var(--ion-color-text-header);
        }
        
        .alert-radio-inner {
            background-color: var(--ion-color-text-header);
        }
        .alert-radio-label,
        .sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
            font-size: var(--ion-text-13);
            color: var(--ion-color-text);
            opacity: 80%;
            white-space: pre-line;
        }

        .alert-button-inner {
            text-transform: capitalize;
        }
        .alert-button.sc-ion-alert-md {
            color: var(--ion-color-text-header);
        }
    }

    .alert-error {
        .alert-wrapper.sc-ion-alert-md {
            background: var(--ion-color-red);
        }

        .alert-head {
            align-self: center;
            text-align: center;
            padding-top: 20px;
        }

        .alert-title {
            color: var(--ion-color-white);
            font-size: var(--ion-text-14);
            font-weight: bold;
        }

        .alert-sub-title.sc-ion-alert-md {
            color: var(--ion-color-white);
            font-size: var(--ion-text-12);
        }

        .alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md {
            font-size: var(--ion-text-12);
            padding-bottom: 0;
            color: var(--ion-color-white);
            align-self: center;
        }
        .alert-button-group.sc-ion-alert-md {
            justify-content: center;
            margin-bottom: 1.5em;
            margin-top: 1.5em;
        }
        .alert-button.sc-ion-alert-md {
            color: var(--ion-color-white);
            border: 1px solid;
            padding: 0.5em 2em;
            border-radius: 15px;
            font-size: var(--ion-text-10);
        }
    }

    ion-fab {
        left: 58%;

        .more-button {
            --background: transparent;
            --border-radius: 0;
            --box-shadow: none;
            --color: var(--ion-color-text-header);
            opacity: 80%;
        }

        ion-fab-list {
            ion-fab-button {
                width: 60px;
                height: 60px;
                --background: #ffffff;
                div {
                    width: 50px;
                    text-align: -webkit-center;
                    ion-img {
                        width: 24px;
                    }
                }
            }
        }
    }

    .infinite-loading {
        ion-spinner {
            color: var(--ion-color-text);
        }
    }
    .infinite-scroll-content-md .infinite-loading-text {
        color: var(--ion-color-text);
        font-size: var(--ion-text-12);
    }

    ion-toast {
        top: calc(1em + var(--ion-safe-area-top, 0px));
        font-size: var(--ion-text-12);
        text-align: center;
        font-weight: bold;
        --color: var(--ion-color-white);
        --background: var(--ion-color-text);
    }

    .success {
        --background: var(--ion-color-2ecc71);
    }

    .warning {
        --background: var(---ion-color-clockout);
    }

    .error {
        --background: var(--ion-color-red);
    }

    .info {
        --background: var(--ion-color-grey-808495);
    }
    
    input[type="file"] {
        display: none;
    }
}