/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// global background style
.background-image {
    --background: url(./assets/basic/background.png) center;
}

.background-image-default {
    --background: url(./assets/basic/background-default.png) center;
    // z-index: 1;
}

.footer-shadow {
    box-shadow: 1px -2px 6px 0px #50505029;
}

.footer {
    padding: 10px;

    ion-item-group {
        display: flex;

        div {
            flex: 1;
            text-align: -webkit-center;

            ion-img {
                width: 1.5rem;
                height: 1.5rem;
                margin-bottom: 5px;
            }

            // ion-label {
            //     font-size: var(--ion-text);
            //     opacity: 80%;
            //     --color: var(--ion-color-text-header);
            //     color: var(--ion-color-text-header);
            // }
        }
    }
}

.footer-label {
    font-size: var(--ion-text-11);
    opacity: 80%;
    --color: var(--ion-color-text-header);
    color: var(--ion-color-text-header);
}

.clockin-button {
    display: flex;
    position: fixed;
    z-index: inherit;
    align-self: flex-end;
    // height: -webkit-fill-available;
    align-items: flex-end;
    bottom: 9px;
    right: 20px;

    ion-button {
        text-transform: capitalize;
        // height: 99.73px;
        // width: 99.73px;
        // --border-radius: 57px;
        // border-radius: 57px;
        width: calc(99.73px + (199.46 - 99.73) * ((100vw - 300px) / (1600 - 300)));
        height: calc(99.73px + (199.46 - 99.73) * ((100vw - 300px) / (1600 - 300)));
        --border-radius: calc(57px + (144 - 57) * ((100vw - 300px) / (1600 - 300)));
        border-radius: calc(57px + (144 - 57) * ((100vw - 300px) / (1600 - 300)));
        box-shadow: 0 3px 6px #50505029;
        --border-width: 4px;
        --border-color: #FFFFFF;
        // --background: var(--ion-color-clockin);
        ion-label {
            font-size: var(--ion-text-13);//13px;
            white-space: pre-wrap;
            opacity: 100%;
            color: #FFFFFF;
            min-width: 62px;
            font-weight: 600;
        }
    }
}

.submits {
    --background: var(--ion-color-submit);
}

.clockin {
    --background: var(--ion-color-clockin);
}

.contents {
    .bg-img {
        position: absolute;
        bottom: 62%;
        width: 250%;
        left: -75%;
        display: flex;
        // width: calc(100%*2);
        // left: -50%;
        // bottom: 60%;
    }

    .bg-img-others {
        position: absolute;
        bottom: 70%;
        width: 250%;
        left: -75%;
        display: flex;
    }

    .content {
        position: absolute;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        padding: 12% 7% 0% 7%;

        .header {
            display: flex;
            place-content: space-between;
            margin-bottom: 7%;
            // margin: 45px 22px 22px;
            font-size: var(--ion-text-23);
            color: var(--ion-color-white);
            font-weight: normal;

            ion-img {
                width: 1em;// 23px;
            }
        }
    }
}
 
:root {
    ion-alert {
        --background: var(--ion-color-white);
        font-size: var(--ion-text-11);

        .alert-head {
            padding-top: 0;
        }

        .alert-radio-group {
            border: none;
        }

        .sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md,
        .alert-radio-icon {
            border-color: var(--ion-color-text-header);
        }
        
        .alert-radio-inner {
            background-color: var(--ion-color-text-header);
        }
        .alert-radio-label,
        .sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
            font-size: var(--ion-text-13);
            color: var(--ion-color-text);
            opacity: 80%;
        }

        .alert-button-inner {
            text-transform: capitalize;
        }
        .alert-button.sc-ion-alert-md {
            color: var(--ion-color-text-header);
        }
    }
}